form
    p Вход
    div
        label
            | Логин
            input(name="login")
    div
        label
            | Пароль
            input(name="password")
    div
        button(type="submit") Войти
    div
        a(href="/pages/registration") Нет аккаунта?