if chat
    .chat-header
        .chat-profile
            .chat-profile__avatar
            p.chat-profile__name!= chat.title
        .chat-menu
            img(width="24" height="24" src=hamburgerImage).chat-menu__hamburger

    .messages-area
        !=messagesList

    .message-form
        .message-form_flex
            img.message-form__file-icon(width="32" height="32" src=fileImage)
            input.message-form__input(type="text" placeholder="Сообщение")
            .message-form__send
                img.message-form__send-icon(width="28" height="28" src=sendImage)
