.message-form_flex
    img.message-form__file-icon(width="32" height="32" src=fileImage)
    input.message-form__input(type="text" name="message" required placeholder="Сообщение")
    button.message-form__send(type="submit")
        img.message-form__send-icon(width="28" height="28" src=sendImage)
